h1#site-title {
  color: darkorange;
  font-family: verdana; 
  font-size: 70px;
  text-align: center;
}

header nav ul li a {
  font-weight: bold;
  color: orange;
}

nav ul {
  list-style: none;
  text-align: center;
}

@media all and (min-width: 416px) {
  nav ul {
    display: flex;
    justify-content: center;
    gap: 25px;
  }
  nav ul li a:hover {
    text-decoration: underline;
}
  header nav ul li a {
    text-decoration: none;
}
}

header nav ul {
  padding: 5px;
  border-top: 1px solid;
  border-bottom: 1px solid;
  border-color: orange;
}

h1 {
  color: darkorange;
  font-family: verdana; 
  font-size: 50px;
}

h2 {
  color:darkorange;
  font-family: verdana; 
  font-size: 30px;
  padding-top: 20px;
}

.skip-link {
  color: orange;
}

@media all and (min-width: 416px) {
  .skip-link:focus {
    transform: translateY(-100%);
  }
  .skip-link {
    padding: 4px;
    left: 50%;
    position: absolute;
    transform: translateY(-1000%);
    font-weight: 700;
  }
}

p {
  color: orange;
  background: dimgray;
  font-family: sans-serif;
}

figure {
  border: 1px solid white;
  padding: 12px;
  padding-bottom: 24px;
}

figcaption {
  color: white;
}

img {
  max-width: 100%;
  height: auto;
}

figure.main-image {
  background: coral;
  border-color: salmon;
  justify-content: center;
}

figure.section-image {
  max-width: 320px;
  margin-bottom: 32px; 
}

@media all and (min-width: 416px) {
  figure.section-image.odd {
    float: right;
    margin-left: 20px;
  }
  figure.section-image.even {
    float: left;
    margin-right: 20px;
  }
  }

p img {
  margin-bottom: 32px; 
}

footer nav ul li a {
  font-weight: bold;
  color: black;
}

@media all and (min-width: 416px) {
  footer nav ul li a {
      text-decoration: none;
  }
}

footer p {
  background: none;
  color: black;
  font-size: 15px;
}
footer#page-footer {
  text-align: center;
  padding: 32px 0;
  margin-top: 64px;
  background-color: darkorange;
  color: black;
}

body {
  background: black;
}